@model Enfermo 

<form method="post">
    <label>Inscripcion</label>
    <input type="number" name="inscripcion"/>
    <br/>
    <label>Apellido</label>
    <input type="text" name="apellido"/>
    <br/>
    <label>Direccion</label>
    <input type="text" name="direccion"/>
    <br/>
    <label>Fecha de nacimiento</label>
    <input type="date" name="fechanac"/>
    <br/>
    <label>Sexo</label>
    <input type="text" name="genero"/>
    <br/>
    <label>Seguridad</label>
    <input type="text" name="nss"/>
    <br/>
    <button type="submit">Insertar</button>
</form> 