<a asp-controller="Doctor" asp-action="UpdateDoctoresEspecialidad">
    Doctor Especialidad Procedimiento
</a>

<a asp-controller="Doctor" asp-action="DoctoresEspecialidad">
    Doctor Especialidad 
</a>

<a asp-controller="Doctor" asp-action="UpdateSalario">Update Salario</a>