@model List<Empleado>


<a asp-controller="Empleado" asp-action="IncrementarSalario">Incrementar salario</a>
<a asp-controller="Empleado" asp-action="EmpleadosDepartamentoLambda">buscar emp</a>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Salario</td>
            <td>Oficio</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado e in Model)
        {
            <tr>
                <td>@e.IdEmpleado.</td>
                <td>@e.Apellido</td>
                <td>@e.Salario</td>
                <td>@e.Oficio</td>
            </tr>
        }
    </tbody>
</table>
