@model ICoche
<h1>Inyeccion dependencis</h1>

<div>
    <img style="width:150px; height:150px;" src="~/images/@Model.Imagen"/>
    <h1>Maraca: @Model.Marca, Modelo: @Model.Modelo</h1>

    <h2>MAxima vel: @Model.VelocidadMaxima km/h</h2>
    <form method="post">
        <div>
            <button type="submit" name="accion" value="acelerar">Acelerar</button>
            <button type="submit" name="accion" value="frenar">Frenar</button>
        </div>
    </form>
    <h2>Velocidad: @Model.Velocidad</h2>
</div>